Repository egorov-ma/aquastream, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-changed, ci, backend, frontend

docs: update API documentation and project structure
  docs/modules/backend-infra/docker/README.md
Labels: docs-changed

feat: add Docker Compose overrides and service Dockerfiles
  backend-infra/docker/compose/docker-compose.override.dev.yml
  backend-infra/docker/compose/docker-compose.override.stage.yml
  backend-infra/docker/compose/docker-compose.yml
  backend-infra/docker/images/Dockerfile.crew
  backend-infra/docker/images/Dockerfile.event
  backend-infra/docker/images/Dockerfile.media
  backend-infra/docker/images/Dockerfile.notification
  backend-infra/docker/images/Dockerfile.payment
  backend-infra/docker/images/Dockerfile.user
  backend-infra/make/Makefile
Labels: backend

chore: update .dockerignore patterns
  .dockerignore
Labels: none

ci: improve GitHub Actions workflows with concurrency controls and optimizations
  .github/workflows/backend-ci.yml
  .github/workflows/ci-images.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: ci

feat(docker): enhance container infrastructure with MinIO integration and build optimizations
  backend-infra/docker/compose/docker-compose.override.dev.yml
  backend-infra/docker/compose/docker-compose.override.stage.yml
  backend-infra/docker/compose/docker-compose.yml
  backend-infra/docker/images/Dockerfile.crew
  backend-infra/docker/images/Dockerfile.event
  backend-infra/docker/images/Dockerfile.gateway
  backend-infra/docker/images/Dockerfile.media
  backend-infra/docker/images/Dockerfile.notification
  backend-infra/docker/images/Dockerfile.payment
  backend-infra/docker/images/Dockerfile.user
  backend-infra/docker/scripts/minio-bootstrap.sh
  backend-infra/make/Makefile
Labels: backend

config: add MinIO storage configuration for media service integration
  backend-infra/docker/compose/.env.dev.example
  backend-infra/docker/compose/.env.example
  backend-infra/docker/compose/.env.prod.example
  backend-infra/docker/compose/.env.stage.example
Labels: backend

docs: improve documentation and add link validation tools
  .github/pull_request_template.md
  docs/adr/adr-0002-sync-module-docs.md
  docs/docs-tools/tools/check_links.py
  docs/modules/backend-infra/DEVELOPER.md
  docs/modules/backend-infra/aquastream-backend-spec-complete.md
  docs/modules/backend-infra/backup/README.md
  docs/modules/backend-infra/docker/README.md
  docs/modules/backend-media/README.md
  docs/modules/backend-notification/README.md
  docs/modules/backend-payment/README.md
  docs/modules/backend-user/README.md
  todos.md
Labels: docs-changed

chore(deps): update dependencies and lockfiles
  backend-common/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  build.gradle
Labels: backend

ci: Backend CI
  .github/workflows/backend-ci.yml
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-infra/make/Makefile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
  docs/devops/dependency-locking.md
  docs/getting-started/build-guide.md
Labels: docs-changed, ci, backend

ci: Backend CI
  .github/workflows/backend-ci.yml
Labels: ci

ci: Backend CI
  .github/workflows/backend-ci.yml
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-infra/make/Makefile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
  docs/devops/dependency-locking.md
Labels: docs-changed, ci, backend

ci: Backend CI
  build.gradle
Labels: none

ci: Docker Images CI
  .github/workflows/ci-images.yml
Labels: ci

ci: Docker Images CI
  .github/workflows/ci-images.yml
Labels: ci

ci: Docker Images CI
  .github/workflows/ci-images.yml
Labels: ci

ci: Docker Images CI
  backend-infra/docker/images/Dockerfile.crew
  backend-infra/docker/images/Dockerfile.event
  backend-infra/docker/images/Dockerfile.gateway
  backend-infra/docker/images/Dockerfile.media
  backend-infra/docker/images/Dockerfile.notification
  backend-infra/docker/images/Dockerfile.payment
  backend-infra/docker/images/Dockerfile.user
Labels: backend

ci: Docker Images CI
  .github/workflows/backend-ci.yml
  .github/workflows/ci-images.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: ci

ci: Docker Images CI
  .github/workflows/backend-ci.yml
  .github/workflows/ci-images.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/frontend-ci.yml
Labels: ci

ci: Docker Images CI
  .github/workflows/backend-ci.yml
  .github/workflows/ci-images.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/frontend-ci.yml
Labels: ci

ci: Docker Images CI
  .github/workflows/backend-ci.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yml
Labels: ci

ci: Docker Images CI
  .github/workflows/ci-images.yml
  .github/workflows/labeler.yml
Labels: ci

ci: CodeQL
  .github/workflows/codeql.yml
Labels: ci

ci: CodeQL
  .github/matchers/generic.json
  .github/workflows/backend-ci.yml
  .github/workflows/ci-images.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/label-sync.yml
Labels: ci

ci: CodeQL
  backend-common/src/main/java/org/aquastream/common/domain/BookingStatus.java
  backend-common/src/main/java/org/aquastream/common/error/ApiException.java
  backend-common/src/main/java/org/aquastream/common/metrics/scheduler/MetricsScheduler.java
  backend-common/src/main/java/org/aquastream/common/ratelimit/service/RateLimitService.java
Labels: backend

ci: commitlint
  .githooks/commitlint.config.js
  .github/workflows/commitlint.yml
Labels: ci

ci: frontend-ci
  .github/workflows/frontend-ci.yml
Labels: ci

ci: frontend-ci
  .github/workflows/backend-ci.yml
Labels: ci

ci: backend-ci
  backend-common/src/main/java/org/aquastream/common/domain/BookingStatus.java
  backend-common/src/main/java/org/aquastream/common/error/CommonErrorHandlingAutoConfiguration.java
  backend-common/src/main/java/org/aquastream/common/web/CorrelationIdFilter.java
Labels: backend

ci: backend-ci
  backend-common/src/main/java/org/aquastream/common/config/ServiceUrls.java
  backend-common/src/main/java/org/aquastream/common/domain/DomainConstants.java
  backend-common/src/main/java/org/aquastream/common/domain/PaymentStatus.java
  backend-common/src/main/java/org/aquastream/common/domain/UserRole.java
  backend-common/src/main/java/org/aquastream/common/error/CommonErrorHandlingAutoConfiguration.java
  backend-common/src/main/java/org/aquastream/common/error/ErrorCodes.java
  backend-common/src/main/java/org/aquastream/common/error/GlobalExceptionHandler.java
  backend-common/src/main/java/org/aquastream/common/error/ProblemDetails.java
  backend-common/src/main/java/org/aquastream/common/util/Ids.java
  backend-common/src/main/java/org/aquastream/common/web/CorrelationIdRestTemplateInterceptor.java
Labels: backend

perf: frontend refactoring
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring task#1
  frontend/.eslintrc.js
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components.json
  frontend/components/ui/calendar.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/menubar.tsx
  frontend/components/ui/popover.tsx
  frontend/components/ui/tooltip.tsx
  frontend/docs/frontend/stack.md
  frontend/eslint.config.mjs
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
  frontend/tailwind.config.ts
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#1
  .github/workflows/frontend-ci.yml
Labels: ci

perf: frontend refactoring task#2-3
  docs/frontend/design-tokens.md
  frontend/.gitignore
  frontend/app/(routes)/org/dashboard/page.tsx
  frontend/components/ui/sidebar.tsx
  frontend/test-results/.last-run.json
  frontend/tests/e2e/sidebar.spec.ts
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring task#4
  docs/frontend/layout-primitives.md
  frontend/app/(routes)/403/page.tsx
  frontend/app/(routes)/auth/recovery/page.tsx
  frontend/app/(routes)/dashboard/page.tsx
  frontend/app/(routes)/org/dashboard/groups/page.tsx
  frontend/app/(routes)/org/dashboard/moderation/page.tsx
  frontend/app/(routes)/org/dashboard/new/page.tsx
  frontend/app/(routes)/org/dashboard/page.tsx
  frontend/app/(routes)/org/dashboard/settings/page.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/register/page.tsx
  frontend/components/ui/center.tsx
  frontend/components/ui/section.tsx
  frontend/components/ui/stack.tsx
  frontend/todos-fe.md
Labels: docs-changed, frontend

.github/labeler.yml:

docs-changed:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md", "mkdocs.yml"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

backend:
  - changed-files:
      - any-glob-to-any-file: ["backend-*/**", "backend-common/**"]

frontend:
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]
