Repository egorov-ma/aquastream, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-changed, ci, backend, frontend

.github/labeler.yml:

docs-changed:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md", "mkdocs.yml"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

backend:
  - changed-files:
      - any-glob-to-any-file: ["backend-*/**", "backend-common/**"]

frontend:
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

perf: docs refactoring task#20
  docs/_internal/mkdocs.yml
  docs/architecture.md
  docs/decisions/adr-002-api-documentation.md
  docs/operations/README.md
  docs/operations/ci-cd.md
  docs/operations/deployment.md
  docs/operations/infrastructure.md
  docs/operations/monitoring.md
  docs/operations/policies/security.md
  docs/operations/policies/support.md
  docs/operations/runbooks/database-maintenance.md
  docs/operations/runbooks/incident-response.md
  docs/operations/runbooks/service-restart.md
  docs/operations/troubleshooting.md
  docs/operations/version-management.md
  docs/qa/bug-management.md
  docs/qa/index.md
  docs/qa/manual-testing/regression-suite.md
  docs/qa/test-strategy.md
Labels: docs-changed

perf: docs refactoring task#21
  docs/api/specs/root/service-health-api.yaml
  docs/architecture.md
  docs/operations/policies/support.md
  docs/operations/runbooks/incident-response.md
  docs/operations/runbooks/service-restart.md
Labels: docs-changed

perf: docs refactoring task#22
  docs/_internal/mkdocs.yml
  docs/architecture.md
  docs/backend/event/business-logic.md
  docs/backend/gateway/README.md
  docs/backend/gateway/business-logic.md
  docs/backend/gateway/operations.md
  docs/operations/deployment.md
  docs/operations/infrastructure.md
  docs/operations/monitoring.md
  docs/operations/nginx.md
  docs/operations/runbooks/service-restart.md
  docs/operations/troubleshooting.md
Labels: docs-changed

perf: docs refactoring task#23
  docs/backend/gateway/api.md
  docs/backend/media/README.md
  docs/backend/media/api.md
  docs/backend/media/operations.md
  docs/backend/notification/README.md
  docs/backend/notification/api.md
  docs/backend/notification/operations.md
  docs/backend/payment/README.md
  docs/backend/payment/api.md
  docs/backend/payment/operations.md
  docs/backend/user/api.md
  docs/backend/user/operations.md
  docs/qa/manual-testing/test-cases.md
Labels: docs-changed

perf: docs refactoring task#24
  docs/_internal/documentation-guidelines.md
  docs/_internal/mkdocs.yml
  docs/decisions/adr-001-docs-stack.md
  docs/development/README.md
  docs/development/build-guide.md
  docs/development/setup.md
  docs/development/style-guides.md
  docs/development/troubleshooting.md
  docs/development/workflows.md
  docs/operations/monitoring.md
Labels: docs-changed

perf: docs refactoring task#25
  docs/qa/automation/api-tests.md
  docs/qa/automation/ui-tests.md
  docs/qa/automation/unit-tests.md
  docs/qa/bug-management.md
  docs/qa/index.md
  docs/qa/manual-testing/exploratory-testing.md
  docs/qa/manual-testing/regression-suite.md
  docs/qa/manual-testing/test-cases.md
  docs/qa/performance.md
  docs/qa/performance/load-testing.md
  docs/qa/performance/performance-benchmarks.md
  docs/qa/test-plans/backend-testing.md
  docs/qa/test-plans/e2e-testing.md
  docs/qa/test-plans/frontend-testing.md
  docs/qa/test-plans/integration-testing.md
  docs/qa/test-strategy.md
  docs/qa/testing.md
Labels: docs-changed

perf: docs refactoring task#26
  docs/_internal/mkdocs.yml
  docs/qa/bug-management.md
  docs/qa/test-strategy.md
Labels: docs-changed

perf: docs refactoring task#27
  docs/_internal/templates/adr-template.md
  docs/decisions/adr-001-docs-stack.md
  docs/decisions/adr-002-api-documentation.md
Labels: docs-changed

perf: docs refactoring task#28
  docs/development/README.md
  docs/development/build-guide.md
  docs/development/setup.md
  docs/development/style-guides.md
  docs/development/testing.md
  docs/development/troubleshooting.md
  docs/development/workflows.md
Labels: docs-changed

perf: docs refactoring task#29
  docs/_internal/templates/frontend-component.md
Labels: docs-changed

perf: docs refactoring task#30
  docs/_internal/mkdocs.yml
  docs/_internal/templates/adr-template.md
  docs/_internal/templates/backend-service-readme.md
  docs/_internal/templates/frontend-component.md
  docs/_internal/templates/qa-test-plan.md
  docs/api/index.md
  docs/architecture.md
  docs/backend/README.md
  docs/backend/user/README.md
  docs/decisions/adr-001-docs-stack.md
  docs/decisions/adr-002-api-documentation.md
  docs/decisions/index.md
  docs/development/README.md
  docs/development/build-guide.md
  docs/development/style-guides.md
  docs/index.md
  docs/operations/README.md
  docs/operations/backup-recovery.md
  docs/operations/ci-cd.md
  docs/operations/deployment.md
  docs/operations/infrastructure.md
  docs/operations/monitoring.md
  docs/operations/nginx.md
  docs/operations/policies/security.md
  docs/operations/policies/support.md
  docs/operations/runbooks/database-maintenance.md
  docs/operations/runbooks/incident-response.md
  docs/operations/runbooks/service-restart.md
  docs/operations/troubleshooting.md
  docs/operations/version-management.md
  docs/qa/bug-management.md
  docs/qa/index.md
  docs/qa/performance.md
  docs/qa/test-strategy.md
  docs/qa/testing.md
Labels: docs-changed

perf: docs refactoring task#31
  .github/workflows/codeql.yml
Labels: ci

perf: docs refactoring task#32
  docs/_internal/mkdocs.yml
  docs/decisions/adr-003-nginx-edge-gateway.md
  docs/decisions/index.md
  docs/operations/nginx.md
Labels: docs-changed

perf: docs refactoring task#34
  docs/backend/README.md
  docs/backend/authentication.md
  docs/backend/common/README.md
  docs/backend/common/error-handling.md
  docs/backend/common/metrics.md
  docs/backend/common/rate-limiting.md
  docs/backend/common/security.md
  docs/backend/common/web-utilities.md
  docs/backend/crew/README.md
  docs/backend/crew/api.md
  docs/backend/crew/business-logic.md
  docs/backend/crew/operations.md
  docs/backend/database.md
  docs/backend/event/README.md
  docs/backend/event/api.md
  docs/backend/event/business-logic.md
  docs/backend/event/operations.md
  docs/backend/gateway/README.md
  docs/backend/gateway/api.md
  docs/backend/gateway/business-logic.md
  docs/backend/gateway/operations.md
  docs/backend/media/README.md
  docs/backend/media/api.md
  docs/backend/media/business-logic.md
  docs/backend/media/operations.md
  docs/backend/notification/README.md
  docs/backend/notification/api.md
  docs/backend/notification/business-logic.md
  docs/backend/notification/operations.md
  docs/backend/payment/README.md
  docs/backend/payment/api.md
  docs/backend/payment/business-logic.md
  docs/backend/payment/operations.md
  docs/backend/user/README.md
  docs/backend/user/api.md
  docs/backend/user/business-logic.md
  docs/backend/user/operations.md
  docs/qa/testing.md
Labels: docs-changed

perf: docs refactoring task#35
  docs/qa/bug-management.md
  docs/qa/index.md
  docs/qa/testing.md
Labels: docs-changed

perf: docs refactoring task#36
  docs/backend/README.md
Labels: docs-changed

perf: docs refactoring task#38
  docs/_internal/docs-tools/tools/generate_api_docs.py
  docs/api/redoc/backend-crew-api.html
  docs/api/redoc/backend-event-api.html
  docs/api/redoc/backend-gateway-admin-api.html
  docs/api/redoc/backend-gateway-metrics-api.html
  docs/api/redoc/backend-media-api.html
  docs/api/redoc/backend-notification-api.html
  docs/api/redoc/backend-payment-api.html
  docs/api/redoc/backend-user-api.html
  docs/api/redoc/frontend-api.html
  docs/api/redoc/payment-webhook-api.html
  docs/api/redoc/service-health-api.html
  docs/api/redoc/telegram-bot-api.html
  docs/api/redoc/user-admin-api.html
Labels: docs-changed

perf: docs refactoring task#38
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
Labels: backend

perf: docs refactoring task#38
  build.gradle
Labels: none

perf: docs refactoring task#38
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
Labels: backend

perf: docs refactoring task#38
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
Labels: backend

perf: docs refactoring task#39
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
Labels: backend

perf: docs refactoring task#39
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
  gradle.properties
Labels: backend

perf: docs refactoring task#40
  backend-common/gradle.lockfile
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
  backend-user/gradle.lockfile
Labels: backend

fix: upd dockerfile + docs
  backend-infra/docker/images/Dockerfile.crew
  backend-infra/docker/images/Dockerfile.event
  backend-infra/docker/images/Dockerfile.gateway
  backend-infra/docker/images/Dockerfile.media
  backend-infra/docker/images/Dockerfile.notification
  backend-infra/docker/images/Dockerfile.payment
  backend-infra/docker/images/Dockerfile.user
  docs/architecture.md
Labels: docs-changed, backend

ci: upd
  .github/workflows/backend-ci.yml
  .github/workflows/ci-images.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
Labels: ci

ci: upd
  docs/development/build-guide.md
  docs/operations/ci-cd.md
Labels: docs-changed

ci: fix lockfile
  .github/workflows/backend-ci.yml
  backend-common/gradle.lockfile
  backend-crew/gradle.lockfile
  backend-event/gradle.lockfile
  backend-gateway/gradle.lockfile
  backend-media/gradle.lockfile
  backend-notification/gradle.lockfile
  backend-payment/gradle.lockfile
  backend-user/gradle.lockfile
Labels: ci, backend

chore: update nested module dependency locks
  backend-crew/backend-crew-api/gradle.lockfile
  backend-crew/backend-crew-db/gradle.lockfile
  backend-crew/backend-crew-service/gradle.lockfile
  backend-event/backend-event-api/gradle.lockfile
  backend-event/backend-event-db/gradle.lockfile
  backend-event/backend-event-service/gradle.lockfile
  backend-media/backend-media-api/gradle.lockfile
  backend-media/backend-media-db/gradle.lockfile
  backend-media/backend-media-service/gradle.lockfile
  backend-notification/backend-notification-api/gradle.lockfile
  backend-notification/backend-notification-db/gradle.lockfile
  backend-notification/backend-notification-service/gradle.lockfile
  backend-payment/backend-payment-api/gradle.lockfile
  backend-payment/backend-payment-db/gradle.lockfile
  backend-payment/backend-payment-service/gradle.lockfile
  backend-user/backend-user-api/gradle.lockfile
  backend-user/backend-user-db/gradle.lockfile
  backend-user/backend-user-service/gradle.lockfile
Labels: backend

chore: update nested module dependency locks
  docs/development/build-guide.md
  docs/development/troubleshooting.md
  docs/development/workflows.md
  docs/operations/ci-cd.md
Labels: docs-changed

ci: upd codeql.yml
  .github/workflows/codeql.yml
Labels: ci

ci: upd codeql.yml
  .github/workflows/codeql.yml
Labels: ci

ci: upd codeql.yml
  .github/workflows/codeql.yml
  docs/operations/ci-cd.md
  docs/qa/test-strategy.md
Labels: docs-changed, ci

perf: docs refactoring task#41
  docs/architecture.md
  docs/index.md
  docs/quickstart.md
Labels: docs-changed

perf: docs refactoring task#42
  docs/development/README.md
  docs/development/setup.md
  docs/development/testing.md
  docs/index.md
  docs/operations/README.md
  docs/qa/index.md
Labels: docs-changed

perf: docs refactoring task#43
  docs/_internal/docs-tools/assets/js/mermaid-loader.js
  docs/_internal/mkdocs.yml
  docs/_internal/templates/backend-service-readme.md
  docs/architecture.md
  docs/development/style-guides.md
  docs/development/workflows.md
Labels: docs-changed

AqStream
  aqstream-docs/01_MVP_Roadmap.md
  aqstream-docs/02_User_Stories.md
  aqstream-docs/03_Data_Model.md
  aqstream-docs/04_Functional_Requirements.md
  aqstream-docs/05_API_Design_Guidelines.md
  aqstream-docs/06_Vision_and_Scope.md
  aqstream-docs/07_Technical_Architecture.md
  aqstream-docs/08_Development_DevOps_Guide.md
  aqstream-docs/09_Test_Plan.md
  aqstream-docs/10_Architecture_Delta.md
  aqstream-docs/11_Documentation_Prompt.md
  aqstream-docs/CONTRIBUTING.md
  aqstream-docs/README.md
  aqstream-docs/aqstream-documentation-refactoring-plan.md
Labels: docs-changed
