Repository egorov-ma/aquastream, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-changed, ci, backend, frontend

.github/labeler.yml:

docs-changed:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md", "mkdocs.yml"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

backend:
  - changed-files:
      - any-glob-to-any-file: ["backend-*/**", "backend-common/**"]

frontend:
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

perf: frontend refactoring task#5
  frontend/.gitignore
  frontend/docs/frontend/stack.md
  frontend/lib/utils.ts
  frontend/package.json
  frontend/tests/unit/cn.test.ts
  frontend/todos-fe.md
  frontend/tsconfig.tests.json
Labels: docs-changed, frontend

perf: frontend refactoring task#6
  frontend/components/ui/calendar.tsx
  frontend/components/ui/navigation-menu.tsx
  frontend/docs/frontend/tooling.md
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring task#7
  frontend/app/(routes)/admin/page.tsx
  frontend/app/(routes)/org/dashboard/moderation/page.tsx
  frontend/components/header.tsx
  frontend/components/org-dashboard/DataTable.tsx
  frontend/components/org-dashboard/SiteHeader.tsx
  frontend/components/org/EventsDataTable.tsx
  frontend/components/org/OrgEventsTable.tsx
  frontend/components/ui/data-table-shell.tsx
  frontend/components/ui/table.tsx
  frontend/components/ui/toolbar.tsx
  frontend/docs/frontend/shadcn-components.md
  frontend/docs/frontend/stack.md
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring task#7
  frontend/docs/frontend/design-playbook.md
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring task#9
  .github/workflows/frontend-ci.yml
  frontend/.gitignore
  frontend/docs/frontend/stack.md
  frontend/docs/frontend/testing.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/auth-login.smoke.spec.ts
  frontend/todos-fe.md
Labels: docs-changed, ci, frontend

perf: frontend refactoring task#10
  .github/pull_request_template.md
  .github/workflows/frontend-ci.yml
  frontend/.eslintrc.js
  frontend/docs/frontend/design-playbook.md
  frontend/docs/frontend/process.md
  frontend/docs/frontend/tooling.md
  frontend/todos-fe.md
Labels: docs-changed, ci, frontend

perf: frontend refactoring
  frontend/todos-fe.md
Labels: docs-changed, frontend

perf: frontend refactoring
  .gitignore
  frontend/components/ui/states.tsx
  frontend/components/ui/table.tsx
  frontend/docs/frontend/tooling.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/mockServiceWorker.js
Labels: docs-changed, frontend

perf: frontend refactoring
  frontend/hooks/use-mobile.tsx
Labels: frontend

perf: frontend refactoring
  frontend/app/(routes)/403/page.tsx
  frontend/app/(routes)/admin/page.tsx
  frontend/app/(routes)/auth/recovery/page.tsx
  frontend/app/(routes)/dashboard/page.tsx
  frontend/app/(routes)/org/dashboard/moderation/page.tsx
  frontend/app/(routes)/org/dashboard/page.tsx
  frontend/app/page.tsx
  frontend/components/org/EventList.tsx
  frontend/components/org/OrgHeader.tsx
  frontend/components/ui/center.tsx
  frontend/components/ui/data-table-shell.tsx
  frontend/components/ui/editorjs.tsx
  frontend/components/ui/page-header.tsx
  frontend/components/ui/section.tsx
  frontend/components/ui/stack.tsx
  frontend/components/ui/states.tsx
  frontend/components/ui/toolbar.tsx
  frontend/package.json
  frontend/shared/static-home.ts
  frontend/src/mocks/handlers.ts
Labels: frontend

perf: frontend refactoring
  frontend/app/page.tsx
Labels: frontend

perf: frontend refactoring
  docs/modules/frontend/aquastream-frontend-spec.md
Labels: docs-changed

perf: frontend refactoring
  frontend/app/(routes)/checkout/[bookingId]/page.tsx
  frontend/app/(routes)/events/[eventId]/actions.ts
  frontend/app/(routes)/events/[eventId]/page.tsx
  frontend/lib/server/resolve-api-origin.ts
Labels: frontend

perf: frontend refactoring
  frontend/app/(routes)/403/page.tsx
  frontend/app/(routes)/auth/recovery/page.tsx
  frontend/app/(routes)/checkout/[bookingId]/page.tsx
  frontend/app/(routes)/dashboard/page.tsx
  frontend/app/(routes)/events/[eventId]/page.tsx
  frontend/app/(routes)/org/[orgSlug]/events/page.tsx
  frontend/app/(routes)/org/[orgSlug]/for-participants/page.tsx
  frontend/app/(routes)/org/[orgSlug]/page.tsx
  frontend/app/(routes)/org/[orgSlug]/team/page.tsx
  frontend/app/(routes)/org/dashboard/groups/page.tsx
  frontend/app/(routes)/org/dashboard/settings/page.tsx
  frontend/app/page.tsx
  frontend/app/register/page.tsx
  frontend/components/events/WaitlistSection.tsx
Labels: frontend

perf: frontend refactoring
  frontend/components/ui/toolbar.tsx
Labels: frontend

perf: infra refactoring
  docs/_inventory/md_inventory.csv
  docs/_inventory/md_inventory.json
  docs/_inventory/move_plan.csv
  docs/_inventory/tags.csv
  docs/adr/adr-0001-docs-stack.md
  docs/docs-tools/tools/apply_move_plan.py
  docs/docs-tools/tools/scaffold_docs_structure.py
  docs/frontend/design-playbook.md
  docs/frontend/process.md
  docs/frontend/shadcn-components.md
  docs/frontend/stack.md
  docs/frontend/testing.md
  docs/frontend/tooling.md
  frontend/docs/adr/.gitkeep
Labels: docs-changed, frontend

perf: infra refactoring
  docs/devops/ci-cd.md
  docs/modules/backend-infra/CI-README.md
  docs/modules/backend-infra/DEVELOPER.md
Labels: docs-changed

perf: infra refactoring task#8-9
  .githooks/infra-pre-commit-hook
  .github/workflows/ci-images.yml
  docs/devops/ci-cd.md
  docs/devops/git-hooks.md
  docs/modules/backend-infra/CI-README.md
  docs/modules/backend-infra/DEVELOPER.md
Labels: docs-changed, ci

perf: infra refactoring task#11
  backend-infra/backup/backup.sh
  backend-infra/backup/restore.sh
  backend-infra/docker/compose/.env.dev.example
  backend-infra/docker/compose/.env.example
  backend-infra/docker/compose/.env.prod.example
  backend-infra/docker/compose/.env.stage.example
  backend-infra/docker/compose/docker-compose.override.dev.yml
  backend-infra/docker/compose/docker-compose.yml
  backend-infra/docker/compose/grafana/provisioning/dashboards/aquastream-overview.json
  backend-infra/docker/compose/grafana/provisioning/dashboards/dashboard.yml
  backend-infra/docker/compose/grafana/provisioning/datasources/datasource.yml
  backend-infra/docker/compose/loki-config.yml
  backend-infra/docker/compose/prometheus.yml
  backend-infra/docker/compose/promtail-config.yml
  backend-infra/make/Makefile
  docs/modules/backend-infra/DEVELOPER.md
  docs/modules/backend-infra/backup/README.md
  docs/modules/backend-infra/docker/README.md
Labels: docs-changed, backend

perf: infra refactoring task#12
  backend-infra/docker/docker-compose.services.yml
Labels: backend

perf: infra refactoring task#13
  backend-infra/README.md
  docs/modules/backend-infra/DEVELOPER.md
  docs/modules/backend-infra/README.md
Labels: docs-changed, backend

perf: infra refactoring task#14
  backend-infra/docker/compose/docker-compose.yml
  docs/modules/backend-infra/DEVELOPER.md
  docs/modules/backend-infra/docker/README.md
Labels: docs-changed, backend

perf: infra refactoring task#15
  backend-infra/docker/images/Dockerfile.crew
  backend-infra/docker/images/Dockerfile.event
  backend-infra/docker/images/Dockerfile.gateway
  backend-infra/docker/images/Dockerfile.media
  backend-infra/docker/images/Dockerfile.notification
  backend-infra/docker/images/Dockerfile.payment
  backend-infra/docker/images/Dockerfile.user
  docs/docs-tools/tools/generate_diagrams.py
  docs/modules/backend-infra/DEVELOPER.md
  docs/modules/backend-infra/RELEASES.md
Labels: docs-changed, backend

perf: infra refactoring task#20
  .gitignore
  backend-infra/make/Makefile
  docs/modules/backend-infra/DEVELOPER.md
  docs/modules/backend-infra/docker/README.md
  todos.md
Labels: docs-changed, backend

perf: infra refactoring task#20
  todos.md
Labels: docs-changed

perf: docs refactoring task#2
  README.md
  docs/_internal/templates/README.md
  docs/_internal/templates/adr-template.md
  docs/_internal/templates/architecture.md
  docs/_internal/templates/backend-service-readme.md
  docs/_internal/templates/frontend-component.md
  docs/_internal/templates/operations-runbook.md
  docs/_internal/templates/qa-test-plan.md
  docs/_internal/templates/roadmap.md
  docs/_templates/README.service.md
  docs/_templates/adr-template.md
  docs/_templates/api.md
  docs/_templates/architecture.md
  docs/_templates/changelog.md
  docs/_templates/roadmap.md
  docs/_templates/runbook.md
Labels: docs-changed

perf: docs refactoring task#5
  docs/_internal/CLEANUP-SUMMARY.md
  docs/_internal/RESTRUCTURING-REPORT.md
  docs/_internal/to_refactoring/development/build-guide.md
  docs/_internal/to_refactoring/development/contributing.md
  docs/_internal/to_refactoring/development/local-development.md
  docs/_internal/to_refactoring/development/overview.md
  docs/_internal/to_refactoring/development/quick-start.md
  docs/_internal/to_refactoring/operations/dependency-locking.md
  docs/_internal/to_refactoring/operations/environment-setup.md
  docs/_internal/to_refactoring/operations/faq.md
  docs/_internal/to_refactoring/operations/git-hooks.md
  docs/_internal/to_refactoring/operations/issue-management.md
  docs/_internal/to_refactoring/operations/version-management.md
  docs/backend/gateway/business-logic.md
  docs/development/style-guides.md
  docs/development/testing.md
  docs/development/troubleshooting.md
  docs/development/workflows.md
  docs/operations/runbooks/database-maintenance.md
  docs/operations/runbooks/incident-response.md
  docs/operations/runbooks/service-restart.md
  docs/qa/automation/api-tests.md
  docs/qa/automation/ui-tests.md
  docs/qa/automation/unit-tests.md
  docs/qa/bug-management.md
  docs/qa/manual-testing/exploratory-testing.md
  docs/qa/manual-testing/regression-suite.md
  docs/qa/manual-testing/test-cases.md
  docs/qa/performance/load-testing.md
  docs/qa/performance/performance-benchmarks.md
  docs/qa/test-plans/backend-testing.md
  docs/qa/test-plans/e2e-testing.md
  docs/qa/test-plans/frontend-testing.md
  docs/qa/test-plans/integration-testing.md
  docs/qa/test-strategy.md
  docs/quickstart.md
Labels: docs-changed

perf: docs refactoring task#7
  docs/backend/authentication.md
  docs/backend/common/README.md
  docs/backend/common/metrics.md
  docs/backend/common/rate-limiting.md
  docs/backend/common/security.md
  docs/backend/common/web-utilities.md
  docs/backend/database.md
Labels: docs-changed

perf: docs refactoring task#8
  docs/backend/crew/README.md
  docs/backend/crew/api.md
  docs/backend/crew/business-logic.md
  docs/backend/crew/operations.md
Labels: docs-changed

perf: docs refactoring task#9
  README.md
  docs/backend/event/README.md
  docs/backend/event/api.md
  docs/backend/event/business-logic.md
  docs/backend/event/operations.md
Labels: docs-changed

perf: docs refactoring task#10
  .github/workflows/docs-ci.yml
  .github/workflows/docs-deploy.yml
Labels: ci

perf: docs refactoring task#11
  docs/_internal/docs-tools/assets/js/mermaid-loader.js
  docs/_internal/mkdocs.yml
  docs/_internal/templates/adr-template.md
  docs/_internal/templates/architecture.md
  docs/_internal/templates/backend-service-readme.md
  docs/_internal/templates/frontend-component.md
  docs/_internal/templates/operations-runbook.md
  docs/_internal/templates/qa-test-plan.md
  docs/_internal/templates/roadmap.md
  docs/backend/README.md
  docs/backend/authentication.md
  docs/backend/database.md
  docs/backend/gateway/README.md
  docs/backend/gateway/business-logic.md
  docs/backend/user/README.md
  docs/backend/user/business-logic.md
  docs/development/build-guide.md
  docs/development/setup.md
  docs/index.md
  docs/operations/backup-recovery.md
  docs/qa/index.md
  docs/quickstart.md
Labels: docs-changed

perf: docs refactoring task#12
  docs/_internal/CLEANUP-SUMMARY.md
  docs/_internal/MIGRATION-COMPLETE.md
  docs/_internal/MIGRATION-PLAN.md
  docs/_internal/RESTRUCTURING-REPORT.md
  docs/backend/crew/operations.md
  docs/backend/event/operations.md
  docs/operations/README.md
  docs/operations/backup-recovery.md
  docs/operations/ci-cd.md
  docs/operations/deployment.md
  docs/operations/infrastructure.md
  docs/operations/monitoring.md
  docs/operations/policies/code-of-conduct.md
  docs/operations/policies/security.md
  docs/operations/policies/support.md
  docs/operations/runbooks/database-maintenance.md
  docs/operations/runbooks/incident-response.md
  docs/operations/runbooks/service-restart.md
  docs/operations/version-management.md
Labels: docs-changed

perf: docs refactoring task#13
  docs/_internal/templates/README.md
  docs/_internal/templates/architecture.md
  docs/_internal/templates/operations-runbook.md
  docs/_internal/templates/roadmap.md
  docs/architecture.md
Labels: docs-changed

perf: docs refactoring task#14
  docs/_internal/docs-structure.md
  docs/_internal/documentation-guidelines.md
Labels: docs-changed

perf: docs refactoring task#15
  docs/_internal/documentation-guidelines.md
  docs/_internal/templates/backend-service-readme.md
  docs/decisions/adr-0001-docs-stack.md
  docs/decisions/adr-0002-sync-module-docs.md
  docs/decisions/adr-0003-api-redoc.md
  docs/decisions/adr-001-docs-stack.md
  docs/decisions/adr-002-api-documentation.md
  docs/decisions/index.md
Labels: docs-changed

perf: docs refactoring task#16
  backend-media/backend-media-api/src/main/resources/application.yml
  backend-payment/backend-payment-api/src/main/resources/application.yml
  docs/architecture.md
Labels: docs-changed, backend

perf: docs refactoring task#17
  docs/operations/README.md
  docs/operations/backup-recovery.md
  docs/operations/ci-cd.md
  docs/operations/deployment.md
  docs/operations/infrastructure.md
Labels: docs-changed

perf: docs refactoring task#18
  docs/_internal/documentation-guidelines.md
  docs/qa/README.md
  docs/qa/automation/api-tests.md
  docs/qa/automation/ui-tests.md
  docs/qa/automation/unit-tests.md
  docs/qa/bug-management.md
  docs/qa/index.md
  docs/qa/manual-testing/exploratory-testing.md
  docs/qa/manual-testing/regression-suite.md
  docs/qa/manual-testing/test-cases.md
  docs/qa/performance/load-testing.md
  docs/qa/performance/performance-benchmarks.md
  docs/qa/test-plans/backend-testing.md
  docs/qa/test-plans/e2e-testing.md
  docs/qa/test-plans/frontend-testing.md
  docs/qa/test-plans/integration-testing.md
  docs/qa/test-strategy.md
Labels: docs-changed

perf: docs refactoring task#19
  docs/_internal/documentation-guidelines.md
  docs/operations/README.md
  docs/operations/ci-cd.md
  docs/operations/infrastructure.md
  docs/operations/monitoring.md
  docs/operations/troubleshooting.md
Labels: docs-changed
